doctype html
html
  head
    meta(charset="utf-8")
    title Page de login
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="scripts/login.js")
  body
    h2 Connectez vous
    input(type="text" id="username" placeholder="Entrer votre pseudo")
    br
    input(type="password" id="passwd" placeholder = "Entrer votre mot de passe")
    br
    input(type="button" value="Se connecter" id="submit")
